:root {
  /* Light Mode */
  --bg-primary: #ffffff;
  --bg-image: url("/bg-light.png");
  --bg-secondary: #f5f5f5;
  --bg-secondary-card: #f5f5f538;
  --text-primary: #000000;
  --text-secondary: #666666;
  --navbar-bg: rgba(2, 2, 2, 0.123);
  --navbar-text: #ffffff;
  --button-primary: #007bff;
  --button-hover: #0056b3;
  --border-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  /* Dark Mode */
  --bg-primary: #1a1a1a;
    --bg-image: url("/bg-dark.png");
  --bg-secondary: #2d2d2d;
  --bg-secondary-card: #2d2d2d36;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --navbar-bg: rgba(255, 255, 255, 0.123);
  --navbar-text: #ffffff;
  --button-primary: #0d6efd;
  --button-hover: #0a58ca;
  --border-color: #3d3d3d;
  --shadow-color: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-image 0.3s ease;
  min-height: 100vh;

}

html {
  transition: background-color 0.3s ease;
}